*{
    margin: 1px;
    padding: 0px;
}
.navbar{
    display: flex;
    justify-content: space-around;
    padding: 10px;
    margin-top:20px;
}
.bar{
    font-size: bold;
    font-weight: 35px;
}
.sing{
    
    padding: 10px 20px;
    background-color: #006A50, #006A50;
    border: 1px solid grey;
    border-radius: 5px;
    margin-right: 1pxpx;
}
.banner-container{
    width: 750px;
    height: 218px;
     display: flex;
    text-align:justify;
    margin: 50px 10px 30px 70px;
    height: 70vh;
    /* width: 100px; */
    align-items: center;
    text-align: justify;
    /* border: 1px solid gray; */
    border-radius: 5px;
background-color: rgb(237, 243, 238)
}
.title{
/* background-color: #cab6b6; */
color:#cab6b6;
font-weight: bold;
font-size: 20px;

}
.content{
    font-weight: bold;
    font-size: 30px;
    color: #0E0E0E;
    margin-top: 10px;
    /* padding: 5px; */
}
.box1{
    width: 550px;
    /* height: 280px; */
    text-align:justify;
    margin: 50px 30px;
    padding: 5px;
}
.btn{
    font-weight: 100px;
    font-size: small;
    color: #FFFFFF;
    background-color: #a49d83a2;
    width: 220px;
    height: 45px;
    margin-top: 10px;
    border-radius: 10px;
    /* border: white; */
}
.box2{
    width: 300px;
    height: 200;
    margin: 10px 20px;
}
.box4{
    margin:0px 68px 68px;
    padding: 5px;
    background-color: #FFFFFF;
 
}
.bowes{
    display: flex;
    justify-content: left;
    /* margin: 20px; */
    padding: 10px;
    /* text-align: justify; */
}
.pic{
  width: 25px;
  height: 25px;
  margin-bottom: 50px;
  border-radius: 10px;
  border: #FFFFFF;
}
.bol{
   font-weight: 15px;
   font-size: bold;
}
.vision{
    margin-top: 20px;
    padding: 0%;
}
.bdv{
    font-weight: bold;
    font-size: 30px;
    color: #0E0E0E;
}
.lorm{
    font-weight: 100px;
    font-size: 10px;
    margin:10px 0px 0px;
    padding: 0px;
}
.card{
    display: flex;
    justify-content: center;
    margin: 15px;
}
.im1{
    width: 25px;
    height: 25px;
    margin-bottom: 40px;
}
.title-2{
    margin-top: 10px;
    margin-bottom: 5px;
    color: #0E0E0E;
    font-weight: bold;
    font-size: 12px;
    padding: 5px;
}
.bdy{
    font-weight: bold;
    font-size: 10px;
   color: #a83d3dda;
}
.btn1{
width: 90px;
height: 30px;
background-color: #5490F5;
color: #FFFFFF;
border-radius: 8px;
margin-top: 7px;
/* border:none; */
}
.btn2{
    width: 90px;
    height: 30px;
    background-color: #09A15C;
    color: #FFFFFF;
    border-radius: 8px;
    margin-top: 7px;
    }
    .btn3{
        width: 90px;
        height: 30px;
        background-color: #FFC239;
        color: #FFFFFF;
        border-radius: 8px;
        margin-top: 7px;
        }
        .div1{
            width: 300px;
            height: 180px;
            /* margin: 10px 10px 10px 1px; */
            align-items: center;
            padding: 15px;
            margin-right: 10px;
            justify-content: center;
            border-radius: 10px;
            background-color: #e3e6ebd2;
        }
        .div2{
                width: 300px;
                height: 180px;
                /* margin: 10px 10px 10px 1px; */
                align-items: center;
                padding: 15px;
                margin-right: 10px;
                justify-content: center;
                border-radius: 10px;
                background-color: #C6E4D6;
            }
        .div3{
            width: 300px;
                height: 180px;
                /* margin: 10px 10px 10px 1px; */
                align-items: center;
                padding: 15px;
                justify-content: center;
                border-radius: 10px;
                background-color: #a2ac23c9;
        }
        .Chif-Ad{
            width: 700px;
            height: 120px;
            justify-content: center;
            background-color: #f1eeeea2;
            margin: 40px 20px 25px 22px;
            border-radius: 10px;
            padding: 19px;
            
        }
        .body{
            background-image: url(/assets/quote-bg.png);
            background-repeat: no-repeat;
            /* justify-content: center; */
            /* align-items: center; */
            color: #530f0f;
            
        }
        .text{
            font-weight: 10px;
            font-size: 15px;
            justify-content: center;
            padding: 7px;
        }

    .Name{
        margin-top: auto;
    }
    .posi{
        font-size: 10px;
        padding: 3px;
    }
.table-1{
    width: 85%;
    background-color: #fffbfb;
    margin: 0 auto;
    margin-top: 30px;
    margin-left: 50px;
    border-radius: 10px;
    text-align: left;
    padding:20px;
}
.th, td{
    padding: 15px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}
th{
    background-color: #C6E4D6;
    width: 300px;
    height: 30px;
    padding: 10px;
} 
.noth{
    align-items: center;
    justify-content: center;
}
.test{
    justify-items: left;
}
.settle{
    max-width: 300px;
}
   
main{
    width: 85%;
    background-color: #fffbfb;
    margin: 0 auto;
    margin-top: 30px;
    border-radius: 10px;
    text-align: left;
    padding:20px;
}
.box-1{
    display: flex;
    width: 100%;
    margin: 0 auto;
    align-items: center;
    justify-content: space-around;
    /* border: 1px solid gray; */
}

.box1-right{
    color: #b19393;
    width: 400px;
    height: 220px;
    
}
.box1-left{
    width: 300px;
    height: 180px;
    position: 30px 30px ;
    border-radius: 10px;
    margin-bottom: 50px;
}
.time{
    /* padding: 5px; */
    margin-bottom: 10px;
}
.fontsi{
    font-weight: bold;
    font-size: 10px;
    color: #b19393;
}
.titf{
    color: #b19393;
    padding: 10px;
    /* width: 600px; */
    /* height: 20px; */
}
.pic-3{
    display: flex;
    padding: 10px;
}
.box1-right{
    color: #b19393;
    width: 400px;
    height: 220px;
    margin-left: 20px;
}
.subimt{
    width: 93%;
    height: 180px;
    text-align: center;
    background-color: #C6E4D6;
    margin-bottom: 20px;
    border-radius: 10px;
}
.donet{
    font-weight: bold;
    font-size: 20px;
    color: #0E0E0E;
    margin-top: 10px;
    padding: 10px;
}
.lori{
    color: #693f3f;
    font-weight: bold;
    font-size: 10px;
    margin-right: 80px;
    margin-left: 80px;
    padding: 5px;
}
.Hober{
    width: 93%;
    height: 220px;
    text-align: center;
    background-color: #f1eded;
    /* margin-bottom: 20px; */
    margin-bottom: 20px;
    border-radius: 10px;
}
.container{
    text-align: center;
}
.box{
    display: inline-block;
    width: 80px;
    height: 40px;
    background-color: #f0f0f0;
    /* border: 1px solid #ccc; */

    border-radius: 5px;
    margin: 10px;
    /* font-weight: bold; */
    font-size: 17px;
    text-align: center;
    line-height: 50px;
}
.box:hover{
    color: #633535;
    background-color: #b19696;
    cursor: pointer;
}
.inpu{
    border: none;
}
.foot{
    text-align:center ;
    font-weight: bold;
    font-size: 40px;
    color: #530f0f;
}